/*Fuente para la web*/
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Ubuntu-light", sans-serif;
}

:root{
    --color1: #003049;
    --color1_trans:  rgba(0, 48, 73, 0.5);
    --color2: #d62828;
    --color3: #f77f00;
    --color3_trans: rgba(247, 127, 0, 0.5);
    --color4: #fcbf49;
    --color4_trans: rgba(252, 191, 73, 0.5);
    --color5: #eae2b7;
    --color5_trans: rgba(234, 226, 183, 0.5);

}
body{
    background-image: url(../img/fondo.JPG);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/********Landing Page - Index*******/
/*drawer, logo y Menú*/

/*Drawer*/
.drawer{
    display: none; /*para ocultar el icono burguer por defecto*/
}
#checkbox{
    display: none; /*para ocultar el checkbox*/
}

/*Logo*/
.logo{
    height: 5vh;
}
.logo:hover{
    background-color: var(--color4);
    padding: 5px;
    border-radius: 10px;
}

/*Nav*/

nav{
    display: flex;
    justify-content: space-around; /*coloca el mismo espacio a izq y derecha del total*/
    position: relative;
    width: 100%;
    height: 8vh;  
    padding: 10px 15px;
    opacity: 0.7;
}

/*Menú*/

.menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0; 
    gap: 10px; 

}

.menu li a{
    color: var(--color1);
    box-sizing: border-box;
    font-size: 1rem;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu li a:hover{
    background-color: var(--color4);
    color: var(--color1);
}

.menu li{
    position: relative;
}

/*Contenido central homepage*/
.contenido-index{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--color1_trans);
}
.foto-perfil{
    order: 1;
}

.foto-perfil img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--color1);
    padding: 5px;
    margin: 50px;
}
.foto-perfil img:hover{
    box-shadow: 10px 10px 10px rgba(81, 19, 94, 0.4);
    padding-right: 7px;
}
.sobre-mi{
    flex: 1 1 30%;
    padding: 30px;
    margin: 100px 20px 100px 20px;
    background-color: rgba(0, 48, 73, 0.3);
    color: var(--color5);
    text-align: justify;
    order: 2;
    box-shadow: 10px 10px 10px rgba(81, 19, 94, 0.7);
}
.sobre-mi:hover{
    padding: 33px;
}
.sobre-mi h1{
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
.sobre-mi ul li{
    margin-bottom: 20px;
}
.sobre-mi ul li:hover{
    color: var(--color3);
}
.rrss{
    padding: 15px;
}
.rrss a{
    padding: 7px;
    color: var(--color1);
    background-color: var(--color4);
    border-radius: 5px;
}
.rrss a:hover{
    color: var(--color4);
    background-color: var(--color1);
}


/*Pie de página*/
footer{
    background-color: var(--color1_trans);
    padding: 20px;
}
footer div{
    display: flex;
    flex-wrap: wrap;
    color: var(--color5);
}


/**********Formulario de contacto**************/
.formulario{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    display: inline-block;
    justify-content: space-between;
    background-color: var(--color1_trans);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.formulario h1{
    font-size: 40px;
    text-align: center;
    color: var(--color5);
    padding: 40px;
    margin-top: 40px;
}
.formulario h2{
    color: var(--color1);
    text-align: center;
    margin-bottom: 30px;
}
form{
    padding: 40px;
    background: var(--color4_trans);
    color: var(--color1);
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}

label{
    display: block;
    margin: 8px;
}

/******Curriculum Vitae********/
.cv{
    background-image: url(../img/fondo.JPG);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

/*Nombre y foto -- Parte superior*/
.cabecera-cv{
    position: relative;
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1_trans);
    padding: 20px;
}

.foto-perfil-cv img{
    display: block;
    position: relative;
    padding: 10px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid var(--color5);
}
.foto-perfil-cv img:hover{
    padding: 12px;
    border: 2px solid var(--color1);
}

.nombre-cv{
    color: var(--color5);
    padding-left: 2rem;
}

.nombre-cv:hover{
    color: var(--color1);
    padding: 1rem;
}
.contenido-cv{
    display: flex;
    width: 100%;
}
/*Perfil y presentacion --margen izquierda*/
.perfil-cv{
    display: inline-block;
    padding: 2rem 1rem 5rem 1rem;
    width: 35%;
    background-color: var(--color4_trans);
    color: var(--color1);
}

/*Experiencia y formación - parte derecha*/
.experiencia-cv{
    display: inline-block;
    padding: 2rem;
    width: 65%;
    color: var(--color1);
    background-color: var(--color5_trans);
}

/*Formato del texto*/
h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    font-style: bold;
}
p{
    text-align: justify;
    word-spacing: 0.2rem;
}
.contenido-cv ul{
    margin-left: 5%;
  }
  .contenido-cv ul li{
    list-style-type: disc;
    padding-top: 0.2rem;
  }

.contacto-cv ul li{
    list-style-type: none;
    
}
.contacto-cv ul li a{
    color: var(--color1);
}
.contacto-cv ul li a:hover{
    color: var(--color3)
}

 h4{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 15px;
    
}
.formacion-cv ul li{
    list-style-type: square;
}
.empresas-cv a{
    color: var(--color1);
    text-decoration: underline;
}

/*******Proyectos*********/
.proyectos{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--color1_trans);
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 50px;
}

.proyectos h1{
    font-size: 40px;
    text-align: center;
    color: var(--color5);
    margin-top: 10px;   
}

.proyectos section{
    background-color: var(--color5);
    width: 100%;
    padding: 10px;
}
.proyectos section:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    background-color: var(--color5_trans);
}

.proyectos h2{
    font-size: 20px;
    text-align: left;
    color: var(--color1);
    padding: 10px;
    margin-top: 10px;
}
.proyectos p{
    color: var(--color1);
    padding: 10px;
}

.proyectos section ul li, .proyectos section ul li a{
    text-decoration: none;
    color: var(--color1);
    padding: 5px;
}
.proyectos section ul li a:hover{
    padding: 5px  5px;
    color: var(--color3);
}
/******responsive*****/
/*pantallas pequeñas: mostramos el .drawer (icono burguer) y ocultamos el menú.*/
@media (max-width: 768px){ /*para que se muestre en pantallas de max 768px*/
    
    .drawer{
        display: block; /*mostrar drawer por defecto*/
        font-size: 1.5rem;
        color: var(--color1);
        cursor: pointer;
        padding: 10px;
    }
    .menu{
        display: none; /*ocultar menú por defecto*/
        flex-direction: column;
        width: 100%;
        background-color: var(--color4);
        position: absolute;
        left: 0;
        top: 8vh;
    }
    #checkbox:checked ~ .menu { /*marcar checkbox y enlazar al menú*/
        display: flex;
    }
    nav{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative; 
        z-index: 1000;      
    }

    /*index responsive*/
    .foto-perfil img{
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 20px;
        display: block;
    }
    .sobre-mi{
        text-align: center;
    }
    .rrss{
        display: flex;
        justify-content: space-evenly
    }

    /*cv responsive*/
    .cv{
        width: 95%;
    }
    .cabecera-cv{
        flex-direction: column;
        padding: 1rem;
    }
    .nombre-cv{
        font-size: 70%;
    }
    .proyectos{
        width: 95%;
        padding: 1rem ;
    }

    /*formulario responsive*/
    .formulario{
        width: 95%;
    }
    .formulario h1, .formulario h2{
        font-size: 100%;
    }
    form{
        flex-direction: column;
        padding: 1rem; 
    }

}