/*Fuente para la web*/
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Ubuntu-light", sans-serif;
}

:root{
    --color1: #003049;
    --color2: #d62828;
    --color3: #f77f00;
    --color4: #fcbf49;
    --color5: #eae2b7;
    --white-text: #ffffff;
    --black-text: #000000;

}
/*Header de la web. Menú, y logo*/
header{
    margin: auto;
    width: auto;
    background-color: var(--color1);
    font-size: 20px;
    opacity: 0.7;
}

body{
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
}
/*******Menú******/
ul{
    list-style: none;
}
nav{
    position: relative;
    width: 100%;
    height: 8vh;  
    display: flex;
    justify-content: space-around; /*coloca el mismo espacio a izq y derecha del total*/
    align-items: left;
    padding: 10px 15px;
    background-color: var(--color1);
    color: var(--color5);
}
nav ul{
    display:flex;
    list-style:none;
}
nav ul li{
    border-right: none;
}
nav ul li a{
    color: var(--color5);
    font-size: 1rem;
    padding: 1rem;
}
nav ul li a:hover{
    background-color: var(--color4);
}

nav ul li ul{
    display: none;
}
nav ul li:hover >ul{
    display: block;
    position: absolute;
    background-color: var(--color1);
    padding: 0.8rem;
    
}
nav ul li ul li{
    padding: 0.8rem;
}
nav ul li ul:hover{
    padding: 0.8rem;
    display: block;
}
/******Logo******/
.logo{
    height: 5vh;
}
.logo:hover{
    background-color: var(--color4);
    padding: 5px;
    border-radius: 10px;
}

/******parte central homepage*****/
main{
    position: relative;
    width: 50%;
    right: -50%;
    padding-right: 5rem;;
    padding-top: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: right;
    text-align: left;

    flex-direction: row;            /*responsive*/
    flex-wrap: wrap;                /*responsive*/
}
.nombre{
    color: var(--color1);
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 0.3rem;
}
.contenido, .rrss{
    background-color: var(--color5);
    opacity: 65%;
    color: var(--color1);
    padding-top: 7px;;
    padding-left: 7px;
    padding-bottom: 7px;
    padding-right: 37px;
    width: 100%;
}
.rrss a{
    color: var(--color2);
    padding: 5px;
}
.rrss a:hover{
    background-color: var(--color1);
    color: var(--color5);
}
footer{
    bottom: 0;
    width: 100%;
    background-color: var(--color1);
    color: var(--color5);
    opacity: 70%;
    display: flex;
    justify-content: right;
    height: 7vh;
    position: absolute;
}
.copyright{
    padding-top: 7px;
}

/*Formulario de contacto*/
form, .titulo-contacto{
    color: var(--color1);
    padding: 10px 20px 10px 20px;
    margin: left; 
    position: relative;
    width: 50%;
    right: -45%;
    align-items: right;
    text-align: left;
}
.titulo-contacto{
    padding-bottom: 10px;
    font-size: 30px;
    letter-spacing: 0.1rem;
    margin-top: 10rem;
}
form{
    background: linear-gradient(to left, var(--color5), var(--color1));
    opacity: 65%;
    color: var(--color5);
}
label{
    display: block;
    margin: 8px;
}

/******Curriculum Vitae********/
.cv{
    background-image: url(./img/fondo.jpg);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
    position: relative;
}

/*Nombre y foto -- Parte superior*/
.cabecera-cv{
    position: relative;
    color: var(--color1);
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    padding: 20px;
}

.foto-perfil-cv img{
    display: block;
    position: relative;
    padding: 10px;
    height: 230px;
    width: 280px;
    border-radius: 50%;
    border: 5px solid var(--color5);
}

.nombre-cv{
    color: var(--color5);
    padding-left: 2rem;
}
.contenido-cv{
    display: flex;
    width: 100%;
}
/*Perfil y presentacion --margen izquierda*/
.perfil-cv{
    display: inline-block;
    padding: 2rem 1rem 5rem 1rem;
    width: 35%;
    background-color: var(--color4);
    color: var(--color1);
}

/*Experiencia y formación - parte derecha*/
.experiencia-cv{
    display: inline-block;
    padding: 2rem;
    width: 65%;
    color: var(--color1);
    background-color: var(--color5);
}

/*Formato del texto*/
h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    font-style: bold;
}
p{
    text-align: justify;
    word-spacing: 0.2rem;
}
.contenido-cv ul{
    margin-left: 5%;
  }
  .contenido-cv ul li{
    list-style-type: disc;
    padding-top: 0.2rem;
  }

.contacto-cv ul li{
    list-style-type: none;
    
}
.contacto-cv ul li a{
    color: var(--color1);
}
.contacto-cv ul li a:hover{
    color: var(--color3)
}

 h4{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 15px;
    
}
.formacion-cv ul li{
    list-style-type: square;
}
.empresas-cv a{
    color: var(--color1);
    text-decoration: underline;
}
.footer-cv{
    bottom: 0;
    width: 100%;
    background-color: var(--color1);
    color: var(--color5);
    opacity: 70%;
    display: flex;
    justify-content: right;
    align-items: end;
    height: 7vh;
    position: relative;
}