/*Fuente para la web*/
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Istok Web", sans-serif;
}

:root{
    --color1: #003049;
    --color2: #d62828;
    --color3: #f77f00;
    --color4: #fcbf49;
    --color5: #eae2b7;
    --white-text: #ffffff;
    --black-text: #000000;

}
/*Header de la web. Menú, y logo*/
header{
    margin: auto;
    width: auto;
    background-color: var(--color1);
    font-size: 20px;
    opacity: 0.7;
}

body{
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
}
/*******Menú******/
ul{
    list-style: none;
}
nav{
    position: relative;
    width: 100%;
    height: 8vh;  
    display: flex;
    justify-content: space-around; /*coloca el mismo espacio a izq y derecha del total*/
    align-items: left;
    padding: 10px 15px;
    background-color: var(--color1);
    color: var(--color5);
}
nav ul{
    display:flex;
    list-style:none;
}
nav ul li{
    border-right: none;
}
nav ul li a{
    color: var(--color5);
    font-size: 1rem;
    padding: 1rem;
}
nav ul li a:hover{
    background-color: var(--color4);
}

nav ul li ul{
    display: none;
}
nav ul li:hover >ul{
    display: block;
    position: absolute;
    background-color: var(--color1);
    padding: 0.8rem;
    
}
nav ul li ul li{
    padding: 0.8rem;
}
nav ul li ul:hover{
    padding: 0.8rem;
    display: block;
}
/******Logo******/
.logo{
    height: 5vh;
}
.logo:hover{
    background-color: var(--color4);
    padding: 5px;
    border-radius: 10px;
}

/******parte central homepage*****/
main{
    position: relative;
    width: 50%;
    right: -50%;
    padding-right: 5rem;;
    padding-top: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: right;
    text-align: left;

    flex-direction: row;            /*responsive*/
    flex-wrap: wrap;                /*responsive*/
}
.nombre{
    color: var(--color1);
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 0.3rem;
}
.contenido, .rrss{
    background-color: var(--color5);
    opacity: 65%;
    color: var(--color1);
    padding-left: 7px;
    padding-bottom: 7px;
    padding-right: 37px;
    width: 100%;
}
.rrss a{
    color: var(--color2);
    padding: 5px;
}
.rrss a:hover{
    background-color: var(--color1);
    color: var(--color5);
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color1);
    color: var(--color5);
    opacity: 70%;
    display: flex;
    justify-content: right;
    height: 7vh;
}
.copyright{
    padding-top: 7px;
}

/*Formulario de contacto*/
form, .titulo-contacto{
    color: var(--color1);
    padding: 10px 20px 10px 20px;
    margin: left; 
    position: relative;
    width: 50%;
    right: -45%;
    align-items: right;
    text-align: left;
}
.titulo-contacto{
    padding-bottom: 10px;
    font-size: 30px;
    letter-spacing: 0.1rem;
    margin-top: 10rem;
}
form{
    background: linear-gradient(to left, var(--color5), var(--color1));
    opacity: 65%;
    color: var(--color5);
}
label{
    display: block;
    margin: 8px;
}




